html , body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.Container{
    width: 100%;
    height: 100vh;
    background-image:url(./Image/tour3.jpg);
    background-size: cover;
    background-position: center; 
    filter: brightness(0.9);   
     
}
header{
    z-index: 1000;
    display: flex;
    width:100%;
    justify-content: flex-end;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}
header.scrolled {
    background-color: grey;
}

header{
    position: sticky;
    top: 0;
}

header ul{
    display: flex;
    gap: 70px;
    list-style:none;
    margin-right: 55px;
    margin-top: 30px;
}
header ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.6s ;
}
ul li a:hover{
    border-bottom: 2px solid black ;
}
header .imagecontainer{
    display: flex;
    position: absolute;
    margin-top: 2px;
    margin-right: 1100px;
    gap: 10px;
    transition: 0.6s;
}
header .imagecontainer img{
    
    height: 75px;
    width: auto;
    cursor: pointer;
    transition: 1s;
}

header .imagecontainer h1{
    margin-right: 400px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
header .user img{
    margin-top: 17px;
    margin-right: 30px;
    height: 40px;
    width: auto;
    cursor: pointer;
    transition: 0.6s;
}
.tripinformation{
   position: relative;
   margin-left: 50px;
   top: 200px;
}
.tripinformation h{
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px rgb(60, 155, 155),
    0 0 20px rgb(60, 155, 155),
    0 0 40px rgb(60, 155, 155),
    0 0 80px rgb(60, 155, 155);
    font-family: 'Courier New', Courier, monospace;

}
.tripinformation h2{
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px rgb(60, 155, 155),
    0 0 20px rgb(60, 155, 155),
    0 0 40px rgb(60, 155, 155),
    0 0 80px rgb(60, 155, 155);
    font-family: 'Courier New', Courier, monospace;
}
.main{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 680px ;
    top: 130px;
}
.main img {
    width: 60%;
    height: 10%;
    border-radius: 50px;
}
.tripheading{
    display: flex;
    width: 90%;
    margin-top: 100px;
    margin: 68px;
    justify-content: center;
}
.tripheading h{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: black;
}
.tripbooking{
    width: 90%;
    height: 60vh;
    margin-top: 100px;
    margin: 68px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.item1{
    padding: 140px;
    border: 2px solid black;
}

.item2{
    padding: 140px;
    border: 2px solid black;
}

.item3{
    padding: 140px;
    border: 2px solid black;
}

.hotelheading{
    display: flex;
    width: 90%;
    margin-top: 100px;
    margin: 68px;
    justify-content: center;
}
.hotelheading h{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: black;
}
.hotelbooking{
    width: 90%;
    height: 60vh;
    margin-top: 100px;
    margin: 68px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.hotel1{
    padding: 150px;
    border: 2px solid black;
    justify-content: space-around;
}
.hotel2{
    padding: 150px;
    border: 2px solid black;
    justify-content: space-around;
}
.hotel3{
    padding: 150px;
    border: 2px solid black;
    justify-content: space-around;
}
.row img{
    height: 100px;
    width: auto;
    margin-top: 15px;
}
.footer{
    background: #24262b;
    border: 1px solid white;
}
.mainfooter{
    max-width:1200px;
    margin: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
}
.footer1 h1{
    font-size: 30px;
    color: aliceblue;
}
.footer2 h1{
    font-size: 30px;
    color: aliceblue;
}
.footer1 p1{
    color: antiquewhite;
}
.footer2 p{
    color: antiquewhite;
}
.copyright{
    background: #24262b;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid white;

}
.copyright p{
    color: aliceblue;
}